doctype html
html
  title Cocubes
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Bootstrap core CSS
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    script(src='javascripts/acetjquery.min.js')
    script(src='javascripts/bootstrap.min.js')
    link(href='stylesheets/acoepie.css', rel='stylesheet')
    script(src='javascripts/acoepie.js')
    link(href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
    link(href='stylesheets/style1.css', rel='stylesheet')
    link(href='stylesheets/graph.css', rel='stylesheet')
    //link(href='stylesheets/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    //- //if lt IE 9
    //- script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    //- script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style.

      .tab {
          overflow: hidden;
          border: 1px solid #ccc;
          background-color: #B83E44;
          color:white;
      }
      .click{
      display:none;
      }

      .tab button {
          background-color: inherit;
          float: left;
          border: none;
          width:100%;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          transition: 0.3s;
          font-size: 17px;
          border-left:1px solid #ccc;
      }
      .tab button:hover {
          background-color: white;
          color:#B83E44;
          font-weight:bold;
      }
      .tab button:focus {
          background-color: white;
          color:#B83E44;
          font-weight:bold;
      }

      .tab .active button {
          background-color: white;
          color:#B83E44;
          font-weight:bold;
      }
      .logout{
      border: 1px solid;
      text-align:center;
      background-color: maroon;
      color:white;
      font-size:18px;
      }
      .button1 {
      background-color: maroon;
      border: none;
      color: white;
      float:right;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      }
      .verticalnav{
      float:left;
      color: white;
      padding:2px 8px 10px;
      font-size: 100%;
      font-weight: bold;
      }

     .verticalnav a:hover {
      color: black;
      }

  body
    .wrapper
      h1 ACOE Department Wise Comparision
      row
        .col-md-3
          .pie-charts

            .pieID--acoecse.pie-chart--wrapper
              h2 CSE
              .pie-chart
                .pie-chart__pie
                ul.pie-chart__legend

                  li
                    em English
                    span #{acoecseeng}
                  li
                    em Quantitative
                    span #{acoecsequant}
                  li
                    em Analytical
                    span #{acoecseanaly}
                  li
                    em Domain
                    span #{acoecsedomain}
                  li
                    em Coding
                    span #{acoecsecod}
                  li
                    em Written English
                    span #{acoecsewet}




        .col-md-3
          .pieID--acoeece.pie-chart--wrapper
            h2 ECE
            .pie-chart
              .pie-chart__pie
              ul.pie-chart__legend
                li
                  em English
                  span #{acoeeceeng}
                li
                  em Quantitative
                  span #{acoeecequant}
                li
                  em Analytical
                  span #{acoeeceanaly}
                li
                  em Domain
                  span #{acoeecedomain}
                li
                  em Coding
                  span #{acoeececod}
                li
                  em Written English
                  span #{acoeecewet}

        .col-md-3
          .pieID--acoeeee.pie-chart--wrapper
            h2 EEE
            .pie-chart
              .pie-chart__pie
              ul.pie-chart__legend
                li
                  em English
                  span #{acoeeeeeng}
                li
                  em Quantitative
                  span #{acoeeeequant}
                li
                  em Analytical
                  span #{acoeeeeanaly}
                li
                  em Domain
                  span #{acoeeeedomain}
                li
                  em Coding
                  span #{acoeeeecod}
                li
                  em Written English
                  span #{acoeeeewet}

        .col-md-3
          .pieID--acoece.pie-chart--wrapper
            h2 CE
            .pie-chart
              .pie-chart__pie
              ul.pie-chart__legend
                li
                  em English
                  span #{acoecivileng}
                li
                  em Quantitative
                  span #{acoecivilquant}
                li
                  em Analytical
                  span #{acoecivilanaly}
                li
                  em Domain
                  span #{acoecivildomain}
                li
                  em Coding
                  span #{acoecivilcod}
                li
                  em Written English
                  span #{acoecivilwet}
        .col-md-3
          .pieID--acoeme.pie-chart--wrapper
            h2 ME
            .pie-chart
              .pie-chart__pie
              ul.pie-chart__legend
                li
                  em English
                  span #{acoemecheng}
                li
                  em Quantitative
                  span #{acoemechquant}
                li
                  em Analytical
                  span #{acoemechanaly}
                li
                  em Domain
                  span #{acoemechdomain}
                li
                  em Coding
                  span #{acoemechcod}
                li
                  em Written English
                  span #{acoemechwet}

        .col-md-3
          .pieID--acoept.pie-chart--wrapper
            h2 PT
            .pie-chart
              .pie-chart__pie
              ul.pie-chart__legend
                li
                  em English
                  span #{acoepteng}
                li
                  em Quantitative
                  span #{acoeptquant}
                li
                  em Analytical
                  span #{acoeptanaly}
                li
                  em Domain
                  span #{acoeptdomain}
                li
                  em Coding
                  span #{acoeptcod}
                li
                  em Written English
                  span #{acoeptwet}
    