doctype html
html
  title Cocubes
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Bootstrap core CSS
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    script(src='javascripts/jquery-1.11.1.min.js')
    script(src='javascripts/bootstrap.min.js')
    link(href='stylesheets/pie.css', rel='stylesheet')
    script(src='javascripts/pie.js')
    style.
     #chartdiv {
     width: 100%;
     height: 400px;
     }
     p{
     font-size:36px;
     text-align:center;
     }
  body
    center
      h1 College Wise Comparision
      section
        .pieID.pie
        ul.pieID.legend
          li
            em AEC
            span #{aec}
          li
            em ACET
            span #{acet}
          li
            em ACOE
            span #{acoe}
    p Module Wise Comparision
        #chartdiv
        .container.hide
          //English
          span#aeceng #{aeceng}
          span#aceteng #{aceteng}
          span#acoeeng #{acoeeng}
          //Quantitative
          span#aecqua #{aecqua}
          span#acetqua #{acetqua}
          span#acoequa #{acoequa}
          //Analytical
          span#aecana #{aecana}
          span#acetana #{acetana}
          span#acoeana #{acoeana}
          //Domain
          span#aecdom #{aecdom}
          span#acetdom #{acetdom}
          span#acoedom #{acoedom}
          //WrittenEnglish
          span#aecwri #{aecwri}
          span#acetwri #{acetwri}
          span#acoewri #{acoewri}
          //Coding
          span#aeccod #{aeccod}
          span#acetcod #{acetcod}
          span#acoecod #{acoecod}
    // Resources
  script(src='https://www.amcharts.com/lib/4/core.js')
  script(src='https://www.amcharts.com/lib/4/charts.js')
  script(src='https://www.amcharts.com/lib/4/themes/animated.js')
  // Chart code
  script.
    //alert($('#aeceng').text());
    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end
    var chart = am4core.create("chartdiv", am4charts.XYChart);
    chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
    chart.data = [
    {
    category: "English",
    value1: $('#aeceng').text(),
    value2: $('#aceteng').text(),
    value3: $('#acoeeng').text()
    },
    {
    category: "Quantitative",
    value1: $('#aecqua').text(),
    value2: $('#acetqua').text(),
    value3: $('#acoequa').text()
    },
    {
    category: "Analytical",
    value1: $('#aecana').text(),
    value2: $('#acetana').text(),
    value3: $('#acoeana').text()
    },
    {
    category: "Domain",
    value1: $('#aecdom').text(),
    value2: $('#acetdom').text(),
    value3: $('#acoedom').text()
    },
    {
    category: "Written English",
    value1: $('#aecwri').text(),
    value2: $('#acetwri').text(),
    value3: $('#acoewri').text()
    },
    {
    category: "Coding",
    value1: $('#aeccod').text(),
    value2: $('#acetcod').text(),
    value3: $('#acoecod').text()
    }
    ];
    chart.colors.step = 2;
    chart.padding(30, 30, 10, 30);
    chart.legend = new am4charts.Legend();
    var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
    categoryAxis.dataFields.category = "category";
    categoryAxis.renderer.grid.template.location = 0;
    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    valueAxis.min = 0;
    valueAxis.max = 100;
    valueAxis.strictMinMax = true;
    valueAxis.calculateTotals = true;
    valueAxis.renderer.minWidth = 50;
    var series1 = chart.series.push(new am4charts.ColumnSeries());
    series1.columns.template.width = am4core.percent(80);
    series1.columns.template.tooltipText =
    "{name}: {valueY.totalPercent.formatNumber('#.00')}%";
    series1.name = "AEC";
    series1.dataFields.categoryX = "category";
    series1.dataFields.valueY = "value1";
    series1.dataFields.valueYShow = "totalPercent";
    series1.dataItems.template.locations.categoryX = 0.5;
    series1.stacked = true;
    series1.tooltip.pointerOrientation = "vertical";
    var bullet1 = series1.bullets.push(new am4charts.LabelBullet());
    bullet1.interactionsEnabled = false;
    bullet1.label.text = "{valueY.totalPercent.formatNumber('#.00')}%";
    bullet1.label.fill = am4core.color("#ffffff");
    bullet1.locationY = 0.5;
    var series2 = chart.series.push(new am4charts.ColumnSeries());
    series2.columns.template.width = am4core.percent(80);
    series2.columns.template.tooltipText =
    "{name}: {valueY.totalPercent.formatNumber('#.00')}%";
    series2.name = "ACET";
    series2.dataFields.categoryX = "category";
    series2.dataFields.valueY = "value2";
    series2.dataFields.valueYShow = "totalPercent";
    series2.dataItems.template.locations.categoryX = 0.5;
    series2.stacked = true;
    series2.tooltip.pointerOrientation = "vertical";
    var bullet2 = series2.bullets.push(new am4charts.LabelBullet());
    bullet2.interactionsEnabled = false;
    bullet2.label.text = "{valueY.totalPercent.formatNumber('#.00')}%";
    bullet2.locationY = 0.5;
    bullet2.label.fill = am4core.color("#ffffff");
    var series3 = chart.series.push(new am4charts.ColumnSeries());
    series3.columns.template.width = am4core.percent(80);
    series3.columns.template.tooltipText =
    "{name}: {valueY.totalPercent.formatNumber('#.00')}%";
    series3.name = "ACOE";
    series3.dataFields.categoryX = "category";
    series3.dataFields.valueY = "value3";
    series3.dataFields.valueYShow = "totalPercent";
    series3.dataItems.template.locations.categoryX = 0.5;
    series3.stacked = true;
    series3.tooltip.pointerOrientation = "vertical";
    var bullet3 = series3.bullets.push(new am4charts.LabelBullet());
    bullet3.interactionsEnabled = false;
    bullet3.label.text = "{valueY.totalPercent.formatNumber('#.00')}%";
    bullet3.locationY = 0.5;
    bullet3.label.fill = am4core.color("#ffffff");
    chart.scrollbarX = new am4core.Scrollbar();
  // HTML



